<app-header></app-header>
<div class="list_of_payments">
<table class="table table-primary table-striped mt-5">
    <thead>
        <tr>
        <th>Reg No</th>
        <th>Name</th>
        <th>Class</th>
        <th>Fees</th>
    </tr>
    </thead>
    <tbody>
        <tr>
        <td>1900712163</td>
        <td>Nsengiyumva Wilberforce</td>
        <td>s.3</td>
        <td>1200000</td>
    </tr>
    <tr>
        <td>1900712163</td>
        <td>Nsengiyumva Wilberforce</td>
        <td>s.3</td>
        <td>1200000</td>
    </tr>
    <tr>
        <td>1900712163</td>
        <td>Nsengiyumva Wilberforce</td>
        <td>s.3</td>
        <td>1200000</td>
    </tr>
    <tr>
        <td>1900712163</td>
        <td>Nsengiyumva Wilberforce</td>
        <td>s.3</td>
        <td>1200000</td>
    </tr>
    <tr>
        <td>1900712163</td>
        <td>Nsengiyumva Wilberforce</td>
        <td>s.3</td>
        <td>1200000</td>
    </tr>
    <tr>
        <td>1900712163</td>
        <td>Nsengiyumva Wilberforce</td>
        <td>s.3</td>
        <td>1200000</td>
    </tr>
    <tr>
        <td>1900712163</td>
        <td>Nsengiyumva Wilberforce</td>
        <td>s.3</td>
        <td>1200000</td>
    </tr>
    </tbody>
  </table>

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Reg No</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Full Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Class</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Fees</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
    </div>
  </div>
  <nav class="navbar navbar-primary bg-primary">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <i-feather name="plus"></i-feather>
        ADD A NEW RECORD
      </button>
    </div>
  </nav>

 
</div>
