<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bold" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Class List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Marks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Attendance</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-danger text-light" type="submit">Sign Out</button>
      </form>
    </div>
  </div>
</nav>

<div class="main">
<h1>Student registration</h1>
<form>
  <table>
    <tr>
      <td>
      <input type="text" class="form-control" placeholder="First name">
      </td>
    <td>
      <input type="text" class="form-control" placeholder="Last name">
    </td>
    <td>
      <input type="text" class="form-control" placeholder="Middle name">
    </td>
  </tr>
  <tr>
    <td class="gender">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
    </td>
    <td class="regNo">
      <input class="form-control" type="text" placeholder="Registration Number" readonly>
    </td>
    <td class="photo">
      <div class="form-group">
        <label for="exampleFormControlFile1">Passport Photo</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </td>
  </tr>
  <tr>
    <td class="subjects">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Physics
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Chemistry
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Biology
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Mathematics
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          History
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Economics
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Geography
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Divinity
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Fine Art
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Literature In English
        </label>
      </div>
    </td>
    <td>
      <input type="text" class="form-control" placeholder="Phone number">
    </td>
    <td>
      <input type="text" class="form-control" placeholder="Phone number">
    </td>
  </tr>
  <tr>
    <td colspan = "4">
    <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
  </td>
  </tr>
</table>
</form>
</div>
