<!--Navigation Section-->

<div class="main mt-5 mb-3 ms-5 me-5 pb-5 border border-primary">
  <h1 class="text-center text-primary">XUL-MANAGER</h1>
<div class="home mb-3">
  <div class="welcome_banner container mt-5">
    <img src="../assets/images/banner.jpg" class="img-fluid" alt="banner">
  </div>
<div class="d-grid gap-2 container mt-5">
  <button class="btn btn-primary" type="button" routerLink = "/director">DIRECTOR</button>
  <button class="btn btn-primary" type="button" routerLink = "/headmaster">HEADMASTER</button>
  <button class="btn btn-primary" type="button" routerLink = "/dos">DIRECTOR OF STUDIES</button>
  <button class="btn btn-primary" type="button" routerLink = "/class-teacher">CLASS TEACHER</button>
  <button class="btn btn-primary" type="button" routerLink = "/bursar">BURSAR</button>
</div>
</div>

</div>

