form{
    border-top: 4px solid blue;
    margin-top: 100px;
    border-bottom: 4px solid blue;
    background: linear-gradient(rgb(226, 213, 156), blue);
}
.select{
    display: flex;
    flex-direction: row;
}
.select>select{
    width: 81%;
    margin-left: 12px;
}