<h1>{{title}}</h1>
<div class="marks-table">
    <table class="table table-sm table-bordered">
      <thead>
      <tr>
        <th scope="col">REGNO</th>
        <th scope="col">FNAME</th>
        <th scope="col">LNAME</th>
        <th scope="col" *ngFor="let course of courses">{{course.name}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{student.regno}}</th>
        <td>{{student.fname}}</td>
        <td>{{student.lname}}</td>
        <td *ngFor="let course of courses" (click)="edit(student, course)" [class.special-td.] = "editCourse === student">
            <input type="text" size="3" class="mark-input" *ngIf="editStudent === course && editCourse === student">
            <p *ngIf="course !== editStudent || editCourse!==student">mmmmmmmm</p>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
