<div class="list_of_payments">
<table class="table table-primary table-striped mt-5">
    <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Role</td>
          <td>Class</td>
          <td>Salary</td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.role}}</td>
        <td>{{employee.class}}</td>
        <td>{{employee.salary}}</td>
    </tr>
    </tbody>
  </table>

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4">
        <form>
            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="name" name = "name" [(ngModel)]="employeesObj.name">
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <input type="text" class="form-control" id="role" name = "regno" [(ngModel)]="employeesObj.role">
            </div>
            <div class="mb-3">
              <label for="class" class="form-label">Class</label>
              <input type="text" class="form-control" id="class" name = "class" [(ngModel)]="employeesObj.class">
            </div>
            <div class="mb-3">
              <label for="salary" class="form-label">Salary</label>
              <input type="text" class="form-control" id="salary" name = "fees" [(ngModel)]="employeesObj.salary">
            </div>
            <button class="btn btn-secondary" (click)="addEmployee(employeesObj)">Submit</button>
          </form>
    </div>
  </div>
  <nav class="navbar navbar-primary bg-primary">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <i-feather name="plus"></i-feather>
        ADD A NEW RECORD
      </button>
    </div>
  </nav> 
</div>

      