<header class="navbar fixed-top navbar-dark  bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">XUL MANAGER</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-light w-100" type="text" placeholder="Search For an Employee" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <button class="px-3 text-light logout" (click)="logout()">Sign Out</button>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" routerLink="/bursar">
                <i-feather name="home"></i-feather>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/fees">
                <i-feather name="file"></i-feather>
                School Fees
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/employees">
                <i-feather name="shopping-cart"></i-feather>
                Employees
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/expenditures">
                <i-feather name="users"></i-feather>
                Expenditures
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/reports">
                <i-feather name="bar-chart-2"></i-feather>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/integrations">
                <i-feather name="layers"></i-feather>
                Integrations
              </a>
            </li>
          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted dark">
            <i-feather name="home" class="text-dark"></i-feather>
            <span class="text-dark">Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <i-feather name="plus-circle" class="text-dark"></i-feather>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i-feather name="file-text"></i-feather>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <span data-feather="file-text"></span>
                <i-feather name="file-text"></i-feather>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i-feather name="file-text"></i-feather>
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i-feather name="file-text"></i-feather>
                Year-end sale
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="list_of_payments">
<table class="table table-primary table-striped mt-5">
    <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Role</td>
          <td>Class</td>
          <td>Salary</td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.role}}</td>
        <td>{{employee.class}}</td>
        <td>{{employee.salary}}</td>
    </tr>
    </tbody>
  </table>

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4">
        <form>
            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="name" name = "name" [(ngModel)]="employeesObj.name">
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <input type="text" class="form-control" id="role" name = "regno" [(ngModel)]="employeesObj.role">
            </div>
            <div class="mb-3">
              <label for="class" class="form-label">Class</label>
              <input type="text" class="form-control" id="class" name = "class" [(ngModel)]="employeesObj.class">
            </div>
            <div class="mb-3">
              <label for="salary" class="form-label">Salary</label>
              <input type="text" class="form-control" id="salary" name = "fees" [(ngModel)]="employeesObj.salary">
            </div>
            <button class="btn btn-secondary" (click)="addEmployee(employeesObj)">Submit</button>
          </form>
    </div>
  </div>
  <nav class="navbar navbar-primary bg-primary">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <i-feather name="plus"></i-feather>
        ADD A NEW RECORD
      </button>
    </div>
  </nav> 
</div>

      