<div class="container-fluid">
  <div class="row">   
     <div class="main-div">
        <div class="add-expenditure">
          <label for="item">Item</label>
          <input type="text" id = "item" name = "item" [(ngModel)]="expenditureObj.item">

          <label for="quantity">Quantity</label>
          <input type="text" id = "quantity" name = "quantity" [(ngModel)]="expenditureObj.quantity">

          <label for="price">Price</label>
          <input type="text" id = "price" name = "price" [(ngModel)]="expenditureObj.price">
          <button (click)="addExpenditure(expenditureObj)">Add</button>
        </div>
        <div class="main-body">
          <div class="item" *ngFor="let item of expenditures">
            <div class="title">
              <h4>{{item.item | uppercase}}</h4>
              <button (click)="removeExpenditure(item.id)" title="Remove item {{item.id}}">X</button>
            </div><hr>
            <div class="item-info">
              <div class="quantity">
                <p>Quantity: {{item.quantity}}</p>
              </div>
              <div class="price">
                <p>Price: {{item.price}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    
      